<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Files-->
  <link rel='stylesheet' href='/Content/style.css' />
  <link rel = 'stylesheet' href = '/bootstrap/dist/css/bootstrap.min.css' />
  <link rel = 'stylesheet' href = '/@fortawesome/fontawesome-free/css/all.min.css'/>
  <title><%= title %></title>
</head>

<body>

<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-turquoise fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sol Plaatje Secondary School</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i> Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/itemlist"><i class="fa-solid fa-graduation-cap"></i> Our School</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-user-plus"></i> Admissions</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-book-open"></i> Academics</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-medal"></i> Sports & Arts</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-regular fa-newspaper"></i> News</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-solid fa-headset"></i> Contact Us</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- NavBar End -->

<main>
  <br>
  <br>
  <br>
    <div class="jumbotron text-left mb-0 bg-white text-dark">
      <div class="container">
        <h1 class="display-4 font-weight-bold"> <span class="text-dark">Contact Us</span></h1>
        <p class="lead">We welcome your inquiries and feedback.</p>
        <hr class="my-4">
      </div>
    </div>

  <!-- Contact Form Section -->
  <section class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Fill Out The Form Below...</h2>
            <!-- Contact Form -->
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Your Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Your Message</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Enter your message"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>


  <!-- Footer -->
  <footer class="footer bg-dark text-white">
    <div class="container-fluid text-center p-3">
        <p>&copy; 2023 Sol Plaatje Secondary School. All rights reserved <i class="bi bi-bootstrap"></i></p>
    </div>
  </footer>

</main>
  
  <!-- Script Files-->
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

</body>
</html>
