body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Custom Styles For The Registration Page */

body {
  background-color: #f8f9fa;
}

.jumbotron {
  background-color: #343a40;
  color: #fff;
}

.container {
  max-width: 800px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Custom Styles For Login Page */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.bg-container {
  background: url('/Assets/images/login.jpeg') center center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.bg-turquoise {
    background-color: #00CED1; /* Bright turquoise color */
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    display: block;
    height: auto;
}

.banner-content {
    position: absolute;
    left: 10%; /* Adjust as needed for left alignment */
    top: 50%;
    transform: translateY(-50%);
    width: 80%; /* Adjust width as needed */
    text-align: center;
}

.content-box {
    background-color: rgba(64, 224, 208, 0.7); /* Light turquoise color with transparency */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.text-white {
    color: white;
    font-weight: bold;
    font-size: 16px; /* Adjust font size as needed */
}

.mySlides {
    display: none;
}

