<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS Files-->
  <link rel='stylesheet' href='/Content/style.css' />
  <link rel = 'stylesheet' href = '/bootstrap/dist/css/bootstrap.min.css' />
  <link rel = 'stylesheet' href = '/@fortawesome/fontawesome-free/css/all.min.css'/>
  <title><%= title %></title>
</head>

<body>

<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-cloud fa-beat-fade"></i> Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/itemlist"><i class="fa-solid fa-handshake-angle fa-beat-fade"></i> Volunteer</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-solid fa-bell fa-beat-fade"></i> Contact Us</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- NavBar End -->

<main>
  <br>
    <div class="container mt-5"> <!-- Font Editing -->
        <div class="jumbotron text-center">
            <h1 class="display-4 font-weight-bold"> Register</h1>
            <p class="lead font-weight-bold"> Become Part Of My Community </p>
            <br>
        </div>
    </div>
  <br>

  <!-- Registration View -->
    <div class = "row justify-content-center">
      <div class = "col-md-6">
        <!-- Message Are -->
        <% if (message.length > 0) { %>
        <div class = "alert alter-danger">
            <%= message %>
        </div>
        <% } %>

        <h2 class = "mb-4"> Please Register </h2>
                <form method = "post" autocomplete = "off">
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control"
                     name="username" 
                     placeholder="Enter Username" 
                     id="username" required autofocus>
                  </div>

                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" 
                      name="password"
                      placeholder="Enter Password" 
                      id="password" required>
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control"
                      name="email"
                      placeholder="Enter Email Address"
                      id="email" required>
                  </div>

                  <div class="mb-3">
                    <label for="displayName" class="form-label">Display Name</label>
                    <input type="text" class="form-control"
                     name="displayName" 
                     placeholder="Enter Display Name" 
                     id="displayName" required>
                  </div>

                  <div class="text-end">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <a href="/" class="btn btn-warning">Cancel</a>
                  </div>
                </form>
            </div>
        </div>
    </div>




  <!-- Footer-like Section -->
  <section class="container mt-4">
    <div class="row">
      <!-- Left Side with Links -->
      <div class="col-md-6">
        <div class="card bg-dark text-white">
          <div class="card-body">
            <h5 class="card-title">Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="/" class="text-white">Home</a></li>
              <li><a href="/itemlist" class="text-white">Volunteer</a></li>
              <li><a href="/contact" class="text-white">Contact Us</a></li>
              <li> </li>
              <li> </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <br>

      <!-- Right Side with Website Information -->
      <div class="col-md-6">
        <div class="card bg-dark text-white">
          <div class="card-body">
            <h5 class="card-title">Website Information</h5>
            <ul class="list-unstyled">
              <li>Vaibhav's Portfolio</li>
              <li>Email at: portfolio@gmail.com</li>
              <li>Contact No.: (437) 123 4567</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </section>

  <!-- Footer -->
  <footer class="footer fixed-bottom bg-dark text-white">
    <div class="container-fluid text-center p-3">
        <p>&copy; 2023 Vaibhav Patel. All rights reserved <i class="bi bi-bootstrap"></i></p>
    </div>
  </footer>

</main>
  
  <!-- Script Files-->
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src = "/jquery/dist/jquery.min.js"></script>

</body>
</html>